
.header {
    background-image: url("../images/dog_background.jpg");
    background-size: 100% 105%;
    padding: 70px;
    text-align: center;
    color: #324412;
    font-size: 35px;
    font-family: "Garamond", serif;
    font-weight: bold;
  }
p {
    text-align: center;
    background: #FFFFE0;
    color: #517b08;
    font-size: 20px;
    font-family: "Garamond", serif;
    font-weight: bold;
}
form{
    background: #FFFFE0;
    color:#223303;
    font-size: 25;
    font-family: "Garamond", serif;
    font-weight: bold;  
}
h3{
    background: #FFFFE0;
    color:#223303;
    font-size: 25;
    font-family: "Garamond", serif;
    font-weight: bold;   
}
 
